<!DOCTYPE html>
{% load static %}
<html lang="uz">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'bootstrap-5.0.2-dist/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <title>Blog</title>
</head>
<body>
    <div class="container-fluid">
        <div class="row navbar">
            <div class="col-12 col-md-6 col-sm-6 navbar-icon"><a href="/">Muslimbek's blog</a></div>
            <div class="col-12 col-md-6 col-sm-6 navbar-link">
                <div><a href="/about/">About</a></div>
                <div><a href="/blog/">Blog</a></div>
                <div><a href="https://t.me/+TEmib5r3-YtmNDAy" target="_blank">Channel</a></div>
            </div>
        </div>
        <div class="row blog">
            <div class="col-12">
                <h1>Blog</h1>
            </div>
        </div>
        <div class="row main">
            <div class="col-12 col-md-6 col-sm-6 main-card1">
                {% for year,months in blogs.items %}
                    <p>{{ year }}</p>
                        {% for month, blogposts in months.items %}
                        <h3>{{ month }}</h3>
                            {% for blog in blogposts %}
                                <div class="main-card1-link">
                                    <a href="/blog/{{blog.slug}}"><h6>{{blog.datetime}}</h6> <h5>{{blog.title}}</h5></a>
                                </div>
                            {% endfor %}
                        {% endfor %}
                {% endfor %}
            </div>
        </div>
        <div class="row footer">
            <p>© 2024 muslimbek</p>
        </div>
    </div>
</body>
</html>
