<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Azimjon's Talks</title>
    <meta name="author" content="Azimjon Pulatov">
    <meta property="og:site_name" content="Azimjon's Blog" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/talks.css">
    <link rel="shortcut icon" type="image/jpg" href="/static/assets/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
</head>

<body>
    <header class="header--title flex align-items-center show-bg">
        <div class="container">
            <div class="align-items-center flex">
                <div class="logo-wrapper">
                    <a class="logo" href="../templates/home.html">Azimjon's Blog</a>
                </div>
                <ul class="nav align-items-center">
                    <li><a class="list-item" href="https://42.uz">42</a></li>
                    <li><a class="list-item" href="../templates/blog.html">Blog</a></li>
                    <li><a class="list-item" href="../templates/talks.html">Talks</a></li>
                    <li><a class="list-item" href="https://t.me/s/lazyprogrammer" target="_blank">Channel</a></li>
                </ul>
                <div class="burger-menu">
                    <div class="bar bar--top"></div>
                    <div class="bar bar--middle"></div>
                    <div class="bar bar--bottom"></div>
                </div>
            </div>
        </div>
    </header>
    <section class="section-title">
        <div class="container">
            <div class="section-content">
                <h1>Talks</h1>
            </div>
        </div>
    </section>
    <section id class="flex align-items-center">
        <div class="container">
            <div class="row justify-between align-top">
                <div id="archive" class="col-md-7">
                    <ul class="list-wrapper talks">
                        <li>
                            <div>
                                <img class="thumbnail" src="https://img.youtube.com/vi/A3AIaWhxb4s/mqdefault.jpg"
                                    width="150">
                            </div>
                            <a class="list-item" href="https://www.youtube.com/watch?v=A3AIaWhxb4s" target="_blank">
                                <div class="date">05 November, 2022</div>
                                <div class="title">Tizim Dizayni Suhbati</div>
                                <div> &nbsp; </div>
                            </a>
                        </li>
                        <li>
                            <div>
                                <img class="thumbnail"
                                    src="https://azimjon.com/media/2022/03/20/photo_2022-03-20_12.30.15.jpeg"
                                    width="150">
                            </div>
                            <a class="list-item" href="https://youtu.be/CTQivwnLlLc" target="_blank">
                                <div class="date">20 March, 2022</div>
                                <div class="title">&quot;FAANG&quot;da Internship Imkoniyatlari</div>
                                <div> &nbsp; </div>
                            </a>
                        </li>
                        <li>
                            <div>
                                <img class="thumbnail" src="https://azimjon.com/media/2021/12/18/faang.png" width="150">
                            </div>
                            <a class="list-item" href="https://www.youtube.com/watch?v=8XGrqwz5dmM" target="_blank">
                                <div class="date">11 December, 2021</div>
                                <div class="title">FAANG: Reject&#x27;dan Offer&#x27;gacha</div>
                                <div> &nbsp; </div>
                            </a>
                        </li>
                        <li>
                            <div>
                                <img class="thumbnail" src="https://azimjon.com/media/2021/12/18/how-internet-works.png"
                                    width="150">
                            </div>
                            <a class="list-item" href="https://www.youtube.com/watch?v=a7462YrpFzU" target="_blank">
                                <div class="date">22 September, 2021</div>
                                <div class="title">Internet qanday ishlaydi?</div>
                                <div> &nbsp; </div>
                            </a>
                        </li>
                        <li>
                            <div>
                                <img class="thumbnail" src="https://azimjon.com/media/2021/12/18/one-line-python.png"
                                    width="150">
                            </div>
                            <a class="list-item" href="https://www.youtube.com/watch?v=RzYMATfN0po" target="_blank">
                                <div class="date">13 September, 2021</div>
                                <div class="title">Bir qator Python kod nimalarga qodir?</div>
                                <div> &nbsp; </div>
                            </a>
                        </li>
                        <li>
                            <div>
                                <img class="thumbnail"
                                    src="https://azimjon.com/media/2021/12/18/yaxshi-dasturchi-hislatlari.png"
                                    width="150">
                            </div>
                            <a class="list-item" href="https://www.youtube.com/watch?v=-iAzrn1Wp-s" target="_blank">
                                <div class="date">27 August, 2021</div>
                                <div class="title">Yaxshi Dasturchi Hislatlari</div>
                                <div> &nbsp; </div>
                            </a>
                        </li>
                        <li>
                            <div>
                                <img class="thumbnail"
                                    src="https://azimjon.com/media/2021/12/18/Screenshot_2021-12-18_at_14.30.52.png"
                                    width="150">
                            </div>
                            <a class="list-item" href="https://t.me/lazyprogrammer/267" target="_blank">
                                <div class="date">03 June, 2021</div>
                                <div class="title">Professional Software Engineer bo&#x27;lish</div>
                                <div> &nbsp; </div>
                            </a>
                        </li>
                        <li>
                            <div>
                                <img class="thumbnail"
                                    src="https://azimjon.com/media/2021/12/18/programmable-google-assistant.png"
                                    width="150">
                            </div>
                            <a class="list-item" href="https://www.youtube.com/watch?v=G1EigCSIsIs" target="_blank">
                                <div class="date">26 December, 2020</div>
                                <div class="title">Programmable Google Assistant</div>
                                <div> &nbsp; </div>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="subscribe-form  col-md-4 sticky " id="mc-embedded-subscribe-form"
                    name="mc-embedded-subscribe-form">
                    <h6>Obuna Bo'ling</h6>
                    <p>
                        Yangi maqola, maruza va darslarimni <a href="https://t.me/lazyprogrammer">@lazyprogrammer</a>
                        telegram kanalimda topishingiz mumkin.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <div class="container">
            <div class="row">
                <p>
                    &copy; 2024 azimjon.com
                </p>
            </div>
        </div>
    </footer>
   
</body>

</html>