<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="utf-8">
    <title>Talks</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/talks.css' %}">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
</head>

<body>
    <header class="header--title flex align-items-center show-bg">
        <div class="container">
            <div class="align-items-center flex">
                <div class="logo-wrapper">
                    <a class="logo" href="/">Blog</a>
                </div>
                <ul class="nav align-items-center">
                    <li><a class="list-item" href="/blog/">Blog</a></li>
                    <li><a class="list-item" href="/talks/">Talks</a></li>
                    <li><a class="list-item" href="https://t.me/s/Yusupov_Muslimbek" target="_blank">Channel</a></li>
                </ul>
                <div class="burger-menu">
                    <div class="bar bar--top"></div>
                    <div class="bar bar--middle"></div>
                    <div class="bar bar--bottom"></div>
                </div>
            </div>
        </div>
    </header>
    <section class="section-title">
        <div class="container">
            <div class="section-content">
                <h1>Talks</h1>
            </div>
        </div>
    </section>
    <section id class="flex align-items-center">
        <div class="container">
            <div class="row justify-between align-top">
                <div id="archive" class="col-md-7">
                    <ul class="list-wrapper talks">
                        {% for talk in talks %}
                        <li>
                            <div>
                                <img class="thumbnail" src='{{ talk.photo}}'
                                    width="150">
                            </div>
                            <a class="list-item" href="{{ talk.url }}" target="_blank">
                                <div class="date">{{ talk.datetime }}</div>
                                <div class="title">{{ talk.title }}</div>
                                <div> &nbsp; </div>
                            </a>
                        </li>
                       {% endfor %}
                    </ul>
                </div>

            </div>
        </div>
    </section>

</body>

</html>
